Repository mayank-gandhi/codecov_test: changes, and which Codecov flags are due for each by the changed paths.
All: backend, models, tests

codecov.yml:

coverage:
  range: 70..100
  round: down
  precision: 5
  status:
    project:
      default: off
      backend:
        target: 50%
        flags: backend
      models:
        target: 90%
        flags: models

flags:
  # filter the folder(s) you wish to measure by that flag
  backend:
    # only include files in the backend folder
    paths:
      - app/controller/
  models:
    paths:
      - app/views/
  tests:
    paths:
      - spec/

Added new method specs and one should fail for testing
  spec/controllers/articles_controller_spec.rb
Due: tests

Fixed spec to pass build
  spec/controllers/articles_controller_spec.rb
Due: tests

Modified codecov.yml and .travis.yml
  .travis.yml
  codecov.yml
Due: none

Fixed typo in codecov.yml
  codecov.yml
Due: none

Modified .travis.yml
  .travis.yml
Due: none

Added groups in simplecov
  spec/rails_helper.rb
Due: tests

Sacffold Author
  app/controllers/authors_controller.rb
  app/models/article.rb
  app/models/author.rb
  app/views/authors/_author.json.jbuilder
  app/views/authors/_form.html.erb
  app/views/authors/edit.html.erb
  app/views/authors/index.html.erb
  app/views/authors/index.json.jbuilder
  app/views/authors/new.html.erb
  app/views/authors/show.html.erb
  app/views/authors/show.json.jbuilder
  config/routes.rb
  db/migrate/20181220110900_create_authors.rb
  db/migrate/20181220111030_add_field_to_articles.rb
  db/schema.rb
Due: models

Added specs for models and removed unwanted files
  app/models/author.rb
  spec/factories/authors.rb
  spec/models/article_spec.rb
  spec/models/author_spec.rb
  spec/requests/articles_spec.rb
Due: tests

Added belongs to optional true for article model
  app/models/article.rb
Due: none

Modified author model specs
  spec/controllers/articles_controller_spec.rb
  spec/controllers/authors_controller_spec.rb
  spec/factories/authors.rb
  spec/models/author_spec.rb
Due: tests

Removed long_files group from simple cov
  spec/rails_helper.rb
Due: tests

Removed some specs from author controller
  spec/controllers/authors_controller_spec.rb
Due: tests

Modified article and author controller specs for testing
  spec/controllers/articles_controller_spec.rb
  spec/controllers/authors_controller_spec.rb
Due: tests

Added Specs to author and removed from article controller
  spec/controllers/articles_controller_spec.rb
  spec/controllers/authors_controller_spec.rb
Due: tests

Fixed error in author controller
  spec/controllers/authors_controller_spec.rb
Due: tests

Modified backend target to 60% in codecov.yml
  codecov.yml
Due: none

Modified target to 60% in codecov.yml
  codecov.yml
Due: none

Added codecov branch development
  codecov.yml
Due: none

Added configuration for flags in codecov.yml
  codecov.yml
Due: none

Added bash code for backend models and tests in .travis.yml
  .travis.yml
Due: none

Added joined false in flags to not join in main report
  codecov.yml
Due: none

Added simplecov profile configuration in rails helper
  spec/rails_helper.rb
Due: tests

Changes in article/author controller specs
  spec/controllers/articles_controller_spec.rb
  spec/controllers/authors_controller_spec.rb
Due: tests

Modified some configuration in .travis.yml and codecov.yml
  .travis.yml
  codecov.yml
Due: none

Set range to 80..100 in codecov.yml
  codecov.yml
Due: none

Removed some specs
  spec/controllers/articles_controller_spec.rb
  spec/controllers/authors_controller_spec.rb
  spec/models/article_spec.rb
  spec/models/author_spec.rb
Due: tests

CI should fail
  codecov.yml
Due: none

Testing flags
  codecov.yml
Due: none

Removed controller specs
  spec/controllers/articles_controller_spec.rb
  spec/controllers/authors_controller_spec.rb
Due: tests

Added books model
  app/controllers/books_controller.rb
  app/models/book.rb
  app/views/books/_book.json.jbuilder
  app/views/books/_form.html.erb
  app/views/books/edit.html.erb
  app/views/books/index.html.erb
  app/views/books/index.json.jbuilder
  app/views/books/new.html.erb
  app/views/books/show.html.erb
  app/views/books/show.json.jbuilder
  config/routes.rb
  db/migrate/20181221111009_create_books.rb
  db/schema.rb
Due: models

codecov changes
  codecov.yml
Due: none

circleci
  .circleci/config.yml
Due: none

ci changes
  .circleci/config.yml
Due: none
