Repository mayank-gandhi/codecov_test: changes, and which Codecov flags are due for each by the changed paths.
All: backend, models, tests, controllers

ci changes
  .circleci/config.yml
Due: none

ci changes + codecov changes + travis.yml deleted
  .circleci/config.yml
  .travis.yml
  codecov.yml
Due: none

rails helper changes
  spec/rails_helper.rb
Due: tests

rails helper changes + codecov.yml changes
  codecov.yml
  spec/rails_helper.rb
Due: tests

rails helper changes + ci changes
  .circleci/config.yml
  spec/rails_helper.rb
Due: tests

codecov changes
  codecov.yml
Due: none

Added Box model
  app/controllers/boxes_controller.rb
  app/models/box.rb
  app/views/boxes/_box.json.jbuilder
  app/views/boxes/_form.html.erb
  app/views/boxes/edit.html.erb
  app/views/boxes/index.html.erb
  app/views/boxes/index.json.jbuilder
  app/views/boxes/new.html.erb
  app/views/boxes/show.html.erb
  app/views/boxes/show.json.jbuilder
  config/routes.rb
  db/migrate/20181221134434_create_boxes.rb
  db/schema.rb
Due: backend, models, controllers

Added specs for books controller
  spec/controllers/books_controller_spec.rb
  spec/factories/books.rb
Due: tests

Run rspec for individual flag
  .circleci/config.yml
  spec/controllers/articles_controller_spec.rb
  spec/helpers/.keep
  spec/jobs/.keep
  spec/rails_helper.rb
Due: tests

ci changes
  .circleci/config.yml
  Gemfile
  Gemfile.lock
Due: none

ci changes
  .circleci/config.yml
  spec/rails_helper.rb
Due: tests

Added specs
  spec/controllers/articles_controller_spec.rb
  spec/controllers/authors_controller_spec.rb
Due: tests

Added specs for controllers
  spec/controllers/articles_controller_spec.rb
  spec/controllers/authors_controller_spec.rb
Due: tests

renamed flags
  .circleci/config.yml
  codecov.yml
Due: none

removed spaces between flags
  .circleci/config.yml
Due: none

Path conditions:
  backend: any of: app/controllers/
  models: any of: app/models/
  tests: any of: spec/
  controllers: any of: app/controllers/
